.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    background-color: #FAF3E0;
    min-height: calc(100vh - 100px); /* tirando altura do header */
  }

  .cadastro-img {
  border-radius: 16px;
  width: 700px; /* ou o tamanho que quiser */
  max-width: 100%;
}
  
  .form-box {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    max-width: 400px;
    width: 100%;
  }
  
  .form-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #111827;
  }
  
  .form-box form {
    display: flex;
    flex-direction: column;
  }
  
  .form-box input,
  .form-box select {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
  }
  
  .form-box button.btn-darkblue {
    background-color: #1e3a8a;
    color: white;
    padding: 12px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .form-box button.btn-darkblue:hover {
    background-color: #1e40af;
  }
  
  .form-box p {
    margin-top: 15px;
    font-size: 14px;
  }